Gunicorn
bcrypt
cycler
Flask
Flask-WTF
idna==3.4
itsdangerous
Jinja2
kiwisolver
MarkupSafe
mysql-connector
numpy
packaging
passlib
Pillow
python-dateutil
requests
six
urllib3
Werkzeug
WTForms
matplotlib
