bcrypt
cycler
Flask
Flask-WTF
idna==3.4
itsdangerous
Jinja2
kiwisolver
MarkupSafe
mysql-connector
numpy
packaging
passlib
Pillow
pyfiglel
pyparsing==3.0.9
python-dateutil
requests
six
urllib3
Werkzeug
WTForms
matplotlib
